@mixin editorVacaciones() {
    body.editorVacaciones{
        color: #fff;
        background-color:#8c00ff;
        display: grid;
        grid-template-areas: 
            "header header header"
            "main main main";

            .header{
                height: 5rem;
                grid-area: header;
                background-color: #55e2fe;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                .CrearVacaciones-Titulo{
                    margin-left: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                        width: 2rem;
                        height: 2rem;
                    }
                    h3{
                        font-family: cursive;
                        text-align: center;
                        color: #9d35ff;
                        span{
                            color: #ffc107;
                        }
                    }
                }
                .menuHamburguesa-botones{
                    margin-right: 1rem;
                    display: flex;
                    align-items: center;
    
                    .menuHamburguesa{
                        img{
                            width: 1rem;
                        }
                    }
                    
                    .botones{
                        button{
                            background-color: #8c00ff;
                            color: #ffff;
                            &:hover{
                                background-color: #30005d;
                            }
                        }
                    }


                    @media (min-width: 650px){
                        .menuHamburguesa{
                            img{
                                display: none;
                            }
                        }
                        .botones{
                            img{
                                display: block;
                            }
                        }
                    }
    
                    @media (max-width: 650px){
                        .menuHamburguesa{
                            display: block;
                            &.desaparece{
                                display: none;
                            }
                        }
                        .botones{
                            display: none;
                            &.aparece{
                                display: grid;
                            }
                            
                        }
                    }
                }
            }
    
        .main{
            grid-area: main;
            display: grid;
            align-items: start;
            justify-items: center;
            @media (min-width: 650px){
                &{
                    grid-template-columns: 1fr 1fr 1fr;
            
                }
            }

            @media (max-width: 650px){
                &{
                    grid-template-columns: 1fr 1fr;
                }

            }

            @media (max-width: 450px){
                &{
                    grid-template-columns: 1fr;
                }
            }
            
            .contenido{
                display: grid;
                grid-template-areas: 
                "foto foto crear"
                "detalle detalle detalle";
                justify-self: center;
                
                .fotos{
                    grid-area: foto;
                    display: grid;
                    align-self: end;
                    img{
                        width: 10rem;
                        height: 10rem;
                        border: 2px solid #55e2fe;
                    }
                }
                .crear{
                    grid-area: crear;
                    display: grid;
                    align-self: end;
                    img{
                        width: 1rem;
                        height: 1rem;
                    }
                }
                .detalle{
                    display: grid;
                    align-self: start;
                    grid-area: detalle;
                    color: #55e2fe;
                    text-align: center;
                }
            }
        }
    }
    
    

}